.about {
  display: flex;
  gap: 50px;
  padding: 60px;
  align-items: center;
}

.about img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--primary);
}

@media (max-width:768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
}
