.contact {
  text-align: center;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #aaa;
}

button {
  background: var(--primary);
  color: white;
  padding: 10px;
  border: none;
}
