.contact-section {
  padding: 70px 8%;
  text-align: center;
}

.contact-sub {
  margin-bottom: 30px;
  opacity: 0.8;
}

/* CONTACT DETAILS GRID */
.contact-details {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.contact-card {
  background: var(--card);
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  font-size: 15px;
}

.contact-card a {
  display: block;
  margin-top: 5px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  word-break: break-all;
}

.contact-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* FORM */
.contact-form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #999;
  background: var(--card);
  color: var(--text);
}

.contact-form button {
  background: var(--primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  box-shadow: 0 5px 15px rgba(108,92,231,0.4);
  transform: translateY(-3px);
}

/* RESPONSIVE */
@media(max-width:768px){
  .contact-section {padding:40px;}
}
