.contact {
  text-align: center;
  padding: 60px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 20px auto;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
  background: var(--card);
  color: var(--text);
}

button {
  background: var(--primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width:768px) {
  .contact {
    padding: 30px;
  }
}
