.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #6c5ce7, #a66bff);
  color: white;
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: #6c5ce7;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #eee;
}
