.projects-section {
  padding: 70px 8%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 30px;
}

.project-card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(108,92,231,0.3);
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

@media(max-width:768px){
  .projects-section {padding:40px;}
}
