.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 25px;
  padding: 60px;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

@media (max-width:768px) {
  .projects {
    padding: 30px;
  }
}
