.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 50px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px #ccc;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
